*{
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
  overflow: hidden;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 15px 8px; 
}
.navbar .nav-user{
  font-family: "Poppins", serif;
  font-weight: 600;
  margin-left: 25px;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.navbar .navbar-nav{
  position: fixed;
  right: 0;
  align-items: center;
  display: flex;
  margin-right:30px;
  gap:20px;
}
.navbar-nav li{
  list-style: none;
}
.navbar-nav li a{
  font-size:1.2em ;
  text-decoration: none;
  color:black;
}
.navbar-nav :nth-child(5){
  
  text-align: center;
  justify-content: center;
  border-radius: 40px;
  padding: 4px 7px;
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%)
}
.navbar-nav :nth-child(5) a{
  font-weight: 400;
  padding: 5px;
  text-transform: uppercase;
}
.navbar-nav :nth-child (5) a:hover{
  
  transform: translateX(-300);
}


/* Responsive */
@media only screen and (max-width: 650px) {
  .navbar{
    overflow: hidden;
  }
  .navbar .nav-user{
    font-size: 1.2em;
  }
 .navbar  .navbar-nav{
    overflow: hidden;
    flex-direction:column;
    position: absolute;
    top:0;
    right:0;
    left: 0;
    height: 100vh;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background-color: yellow;
    transform: translateX(-100%) ;
    transition: 1s ease;
    z-index: -1;
  }
  .navbar .navbar-nav.slide{
    transform: translateX(0) ;
    overflow: hidden;
  }
  .navbar .hamburger span{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex-direction: column;
    width: 24px;
    height: 4px;
    background-color: #000000;
    border-radius: 1.8px ;
    border-radius: 1.8px ;
    cursor: pointer;
  }
  .navbar .hamburger{
    margin-right: 8px;
  }
}
